<div class="col-md-6 offset-md-3">
  <h3> Crear solicitante </h3>
  <form (ngSubmit)="onSubmit()">

    <div class="form-group">
      <label> nombre_completo</label>
      <input required="required" type="text" class="form-control" id="firstName"
        [(ngModel)]="sol.nombre_completo" name="firstName">
    </div>

    <div class="form-group">
      <label> area</label>
      <input type="text" class="form-control" id="lastName"
        [(ngModel)]="sol.area" name="lastName">
    </div>

    <div class="form-group">
      <label> cargo</label>
      <input type="text" class="form-control" id="emailId"
        [(ngModel)]="sol.cargo" name="emailId">
    </div>

    <div class="form-group">
      <label> celular</label>
      <input type="text" class="form-control" id="emailId"
        [(ngModel)]="sol.celular" name="emailId">
    </div>

    <div class="form-group">
      <label> ciudad</label>
      <input type="text" class="form-control" id="emailId"
        [(ngModel)]="sol.ciudad" name="emailId">
    </div>
    <div class="form-group">
      <label> email</label>
      <input type="text" class="form-control" id="emailId"
        [(ngModel)]="sol.email" name="emailId">
    </div>

    <div class="form-group">
      <label> identificacion</label>
      <input type="text" class="form-control" id="emailId"
        [(ngModel)]="sol.identificacion" name="emailId">
    </div>

    <button class="btn btn-success" type="submit">Submit</button>

  </form>
</div>
