<h2> Listado  activos fijos</h2>
<table class = "table table-striped">
    <thead>
        <tr>
            <th> nombre</th>
            <th> numerointerno</th>
            <th> peso</th>
            <th> alto</th>
            <th> ancho</th>
            <th> color</th>
            <th> descripcion</th>
            <th> estado</th>
            <th> fechabaja</th>
            <th> fechacompra</th>
            <th> fechacreacion</th>
            <th> serial</th>
            <th> Acciones </th>
            <th> Acciones </th>
            <th> Acciones </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let employee of employees" >
            <td> {{ employee.nombre }} </td>
            <td> {{ employee.numerointerno }} </td>
            <td> {{ employee.peso }} </td>
            <td> {{ employee.alto }} </td>
            <td> {{ employee.ancho }} </td>
            <td> {{ employee.color }} </td>
            <td> {{ employee.descripcion }} </td>
            <td> {{ employee.estado }} </td>
            <td> {{ employee.fechabaja }} </td>
            <td> {{ employee.fechacompra }} </td>
            <td> {{ employee.fechacreacion }} </td>
            <td> {{ employee.serial }} </td>
            <td>
                <button class = "btn btn-info"> Actualizar</button>
            </td>
            <td>

                <button class = "btn btn-danger" style="margin-left: 10px"> Borrar</button>

            </td>
            <td>
                <button  class = "btn btn-info" style="margin-left: 10px"> Ver</button>
            </td>
        </tr>
    </tbody>
</table>
